<title>Build #{{id}} on {{repo_name}} - Peon</title>
{{#if is_running}}
  <meta http-equiv="refresh" content="5">
{{/if}}
<style>
  .status-pending,
  .status-running,
  .status-cancelled {
    background-color: #ddd;
  }

  .status-running .duration {
    display: none;
  }

  .status-success {
    background-color: #dfd;
  }

  .status-failed {
    background-color: #fdd;
  }
</style>

<h1 class="status-{{status}}">Build #{{id}} on {{repo_name}} <span class="duration">({{time run_time}})</span></h1>
<a href="{{repo_link}}">View all builds for {{repo_name}}</a> &ndash;
<a href="index.html">Peon status page</a><br><br>

Building SHA {{sha}} on {{ref_type}} {{ref}}<br>
Enqueued at {{date enqueued}}<br>
{{#if start}}Started at {{date start}}<br>{{/if}}
{{#if end}}Finished at {{date end}}<br>{{/if}}
{{#if is_cleaned}}
  Build was cleaned because {{ref_type}} {{ref}} was deleted<br>
{{else}}
  {{#if extra.outputURL}}<a href="{{extra.outputURL}}" target="_blank">Link to deployed build output</a><br>{{/if}}
{{/if}}

{{#each steps}}
  <h2 class="status-{{status}}">{{description}} <span class="duration">({{time duration}})</span></h2>
  {{#if output}}
    <pre>{{output}}</pre>
  {{/if}}
{{/each}}