<title>Status page - Peon</title>
<meta http-equiv="refresh" content="5">
<style>
  .status-pending,
  .status-running,
  .status-cancelled {
    background-color: #ddd;
  }

  .status-success {
    background-color: #dfd;
  }

  .status-failed {
    background-color: #fdd;
  }
</style>
<h1>Peon status page</h1>

{{#if hasData}}
  <h2>Last 100 builds</h2>

  <table width="100%">
    <tr>
      <th>
        Repository
      </th>
      <th>
        Build
      </th>
      <th colspan="2">
        Ref
      </th>
      <th>
        Enqueued
      </th>
      <th>
        Time in queue
      </th>
      <th>
        Job duration
      </th>
      <th>
        Status
      </th>
      <th>
        Output
      </th>
    </tr>
    {{#each builds}}
      <tr class="status-{{status}}">
        <td>
          <a href="{{repoLink}}">{{repoName}}</a>
        </td>
        <td>
          <a href="{{link}}">{{buildNum}}</a>
        </td>
        <td>
          {{refMode}}
        </td>
        <td>
          {{ref}}
        </td>
        <td>
          {{date enqueued}}
        </td>
        <td>
          {{#if start}}
            {{time queueTime}}
          {{else}}
            &ndash;
          {{/if}}
        </td>
        <td>
          {{#if end}}
            {{time runTime}}
          {{else}}
            &ndash;
          {{/if}}
        </td>
        <td>
          {{status}}
        </td>
        <td>
          {{#if extra.outputURL}}
            {{#if extra.localCleaned}}
              Removed
            {{else}}
              <a href="{{extra.outputURL}}" target="_blank">Build output</a>
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  No builds have run yet, nothing to report.
{{/if}}

<i>Last updated at {{date now}}</i>