<title>Status page - Peon</title>
<meta http-equiv="refresh" content="5">
<style>
  .status-pending, .status-running, .status-cancelled {
    background-color: #ddd;
  }

  .status-success {
    background-color: #dfd;
  }

  .status-failed {
    background-color: #fdd;
  }
</style>
<h1>Peon status</h1>

{{#if hasData}}
  <h2>Last successful builds by branch</h2>
  <ul>
    {{#each repos as |repo repoName|}}
      {{#if repo.lastSuccessfulBuildByBranch}}
        <li>
          <b>{{repoName}}</b>
          {{#each repo.lastSuccessfulBuildByBranch as |build|}}
            <a href="{{build.extra.outputURL}}" target="_blank">{{build.branch}}</a>
          {{/each}}
        </li>
      {{/if}}
    {{/each}}
  </ul>

  <h2>Latest builds</h2>
  {{#each repos}}
    <h3>{{@key}}</h3>
    <ul>
      {{#each lastBuilds}}
        <li>
          <a class="status-{{status}}" href="{{link}}">{{buildId}}</a>
          on {{branch}},
          enqueued at {{date enqueued}}
          {{#if extra.outputURL}}<a href="{{extra.outputURL}}" target="_blank">Build output</a>{{/if}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
{{else}}
  No build jobs have run yet!
{{/if}}

<i>Last updated at {{date now}}</i>
